
*{
    margin: 0%; padding: 0%;
}

@font-face{
    font-family: "Urbanist";
    src: url(assets/Urbanist/static/Urbanist-Medium.ttf);
    font-weight:medium;
    font-style: medium;
}


/*HEADER*/

header{
    font-family: "Urbanist";
    font-weight: bold;
    background-color: rgb(77, 116, 77);
    position: sticky; 
    top: 0px;
 }

.logo{
  cursor: pointer;
  width:14%;
}
@media (max-width: 768px){
    .logo{ width: 20%;}
    .container{ flex-wrap: initial !important;}
    }
    @media (max-width: 320px){
        .logo{ width: 30%;}
        .container{ flex-wrap: initial !important;}
        }

li {
    list-style: none;
    font-size: 1rem;
}
.navbar-light .navbar-nav .nav-link {
    color: #f79e45f7;}

 .nav-link.active{
        color: #f6a350f7; }


/*BODY*/

body{
    background-color: rgb(244, 248, 246);
}

/*FOOTER*/

footer{
    height:10%;
    width: 100%;
    font-family: "urbanist";
    padding: 16px 10%;    
}
.fondo{
    background-color:rgb(77, 116, 77);  
}
.fuente{
    font-size: 1rem;
}

.logoig{
   width: 30px;
cursor: pointer
}

.logoface{
    width: 30px;
    cursor: pointer   
}


/*HOME*/

.fotohome{
    width: 100%;
    /*object-fit: contain;*/
    }

.tarjeton{
   background-color: rgb(77, 116, 77);
   margin-top: -7%;
   width: 90%;
   margin-left: 3%;
}

@media (max-width:768px){
    .tarjeton{ margin-top: -5%;
        width: 70%;
        margin: auto;
        }
}
@media (max-width:600px){
    .tarjeton{
        margin-top: -3%;
        width: 70%;
        margin: auto;
    }
}

h1.card-title{
    color: whitesmoke;
    padding: 14% 3% 6% 3%;
    margin-top: -25px;
}
@media (max-width:768px){
    h1.card-title{
        margin-top:0%;}
}

h2.card-subtitle{
    color: whitesmoke;
    padding-bottom: 6%;
}

h3.titulo{
    margin-left:6% ;
    margin-top: 15%;
}
@media (max-width:768px){
    h3.titulo{ margin-top:5%;}
}


h1{
    padding-top: 3%;
    /*display: flex;
    justify-content: center;  */
    text-align: center;
    font-size:4rem;
    font-family:"Urbanist";
}

@media (max-width:768px){
    h1{ font-size: 3rem;}
}
@media (max-width:600px){
    h1{ font-size: 2rem;}
}

h2{
    /*display: flex;
    justify-content: center; */
    text-align: center;
    margin-top: -2rem;
    font-size: 2.5rem;
    font-family: "Urbanist";
}

@media (max-width:768px){
    h2{ font-size: 1.5rem;}
}
@media (max-width:600px){
    h2{ font-size: 1rem;}
}

p{
    text-align: left;
    font-family: "Urbanist";
    font-style: normal;
    font-size: 1rem;
    padding: 5%;
    line-height: 1.8rem;
    margin-bottom: 6rem;
}

@media (max-width:768px){
    p{ margin-bottom: -1rem;}}

.toque{
    font-style: italic;
}

/* la imagen queda muy separada del texto con el responsive, no le encuentro el problema*/
.kokeorigen{
    width: 100%;
    height: 538px;
    padding: 3%;
    object-fit: contain;
}
@media (min-width: 320px) and (max-width: 767px){
    .kokeorigen{ 
        width: 100%;
        padding: 0%;
        height: 269px;
    }
}


/*CUIDADOS*/

h1.cuidados{
    margin-top: 4rem;
    margin-bottom: 0rem;
}
@media(max-width:480px){
    h1.cuidados{
        font-size: 1.5rem;      
    } 
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width:768px){
    h1.cespecial{
        margin: auto;}
    }

.card2{
    padding: 1%;
    margin: 1%2;
}

.card-body2{
    text-align: center;
}

.card-title2{
    color: crimson;
    font-weight: bold;
}

.card-text2{
    text-align: center;
}

.card-img-top-c{
    width: 100%;
    align-items: center;
    padding:3% ;
}


.textColor{
    padding-left: 0.5%;
    color: crimson;
    text-decoration: underline;
}

.tip{
    padding: 2%;
    margin-left: 0%;
    margin-top: 3%;
    margin-bottom: -3%;
}
.toque1{
    color: crimson;    
}

@media (max-width:768px){
    .tip{ font-size: 1.5rem;}
}

.pctip{
 margin-bottom: 1%;   
}


/*TALLER section:taller*/

h1.aprende{
    font-size:3rem;
}
@media (max-width:768px){
    h1.aprende{font-size: 2rem;}
}

@media (max-width:600px){
    h1.aprende{ 
        font-size: 1.5rem;}
}

.t-taller{
    padding: 6%;
    font-size: 2rem;   
}

h2 .t-taller{
    display: none;
    align-items: center;
}

@media (max-width:768px){
    .t-taller{ 
        font-size: 1.5rem;
    }
        
}
@media (max-width:600px){
    .t-taller{ 
        font-size: 1.3rem;
        margin: auto;}
        
}

@media (max-width:320px){
    .t-taller{ 
        font-size: 1rem;
        margin: auto;}
        
}

.taller{
    height: 187px;
    margin-right: 4%;
    margin-left: 2%;
}

.tutoque{
    color: #f09f1d;
    padding-right: 1%;
}

@media (max-width:768px){
    .tutoque{ 
        font-size: 1.5rem;
    }
}
@media (max-width:600px){
    .tutoque{ 
        font-size: 1.3rem;
        margin: auto}
}

.tarjeton2{
    background-color: rgb(88, 143, 77);
    border-radius: 4px;
    width: 90%;
    margin:auto;
 }

 p.pt{
    color: whitesmoke;
    text-align: left;
    font-family: "Urbanist";
    font-style: normal;
    font-size: 1.2rem;
    padding: 5%;
    line-height: 1.8rem; 
 }

 @media (max-width:768px){
    p.pt{ 
        font-size: 1rem;}
}

 .informacion{
    display: flex;
    justify-content: center;
    padding: 4%;
 }

 .card1{
    padding: 4%;
 }
@media (max-width:768px){
    .card1{
        margin: auto;
    }
}

 .card-img-top{
    height: 180px;
    width: 286px;
 }
 
 @media (max-width:768px){
    .card-img-top{
        margin: auto;
    }
}

 .botonTaller{
    padding: 5%; 
 }

 .btn{
    background-color: #f09f1d;
    cursor: pointer;
    text-transform: uppercase;   
    font-weight: bold;  
 }


 /*GALERIA*/
 
.t-galeria{
    margin-bottom: 4%;
    margin-top: 4%;
}
.galeria{
    margin-bottom: 4%;
}

.galeria img{
    border-radius: 5px;
}
/* CONTACTO*/

h4{
    display: flex;
    justify-content: center;
}

h5{
    display: flex;
    justify-content: center;
    padding: 3%;
}
/*este atributo no funciona, quizás los inhibe el bootstrap??
.btn:hoover{
    background-color: coral;
    cursor: pointer;
}*/


form{
    width: 50%;
    background-color: rgb(77, 116, 77);
    margin-top: 5%;
    margin-bottom: 20%;
    margin-left: 25%;
    padding: 4% 4%;
    border-radius: 10px;
    font-family: "Urbanist";
    font-size: 1rem;
    color: whitesmoke;
    }
    
@media (min-width: 320px) and (max-width: 767px){
    form{
        width: 100%;
        margin: auto;
    }
}

  