/*HEADER*/
@media (max-width: 768px) {
  .logo {
    width: 20%;
  }
  .container {
    flex-wrap: initial !important;
  }
}
@media (max-width: 320px) {
  .logo {
    width: 30%;
  }
  .container {
    flex-wrap: initial !important;
  }
}
/*HOME*/
@media (max-width: 768px) {
  .tarjeton {
    margin-top: -5%;
    width: 70%;
    margin: auto;
  }
}
@media (max-width: 600px) {
  .tarjeton {
    margin-top: -3%;
    width: 70%;
    margin: auto;
  }
}
@media (max-width: 768px) {
  h1.card-title {
    margin-top: 0%;
  }
}
@media (max-width: 768px) {
  h3.titulo {
    margin-top: 5%;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }
}
@media (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }
}
@media (max-width: 768px) {
  h2 {
    font-size: 1.5rem;
  }
}
@media (max-width: 600px) {
  h2 {
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
  p {
    margin-bottom: -1rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .kokeorigen {
    width: 100%;
    padding: 0%;
    height: 269px;
  }
}
/*CUIDADOS*/
@media (max-width: 480px) {
  h1.cuidados {
    font-size: 1.5rem;
  }
}
@media (max-width: 768px) {
  h1.cespecial {
    margin: auto;
  }
}
@media (max-width: 768px) {
  .tip {
    font-size: 1.5rem;
  }
}
@media (max-width: 768px) {
  h1.aprende {
    font-size: 2rem;
  }
}
@media (max-width: 600px) {
  h1.aprende {
    font-size: 1.5rem;
  }
}
@media (max-width: 768px) {
  .t-taller {
    font-size: 1.5rem;
  }
}
@media (max-width: 600px) {
  .t-taller {
    font-size: 1.3rem;
    margin: auto;
  }
}
@media (max-width: 320px) {
  .t-taller {
    font-size: 1rem;
    margin: auto;
  }
}
@media (max-width: 768px) {
  .tutoque {
    font-size: 1.5rem;
  }
}
@media (max-width: 600px) {
  .tutoque {
    font-size: 1.3rem;
    margin: auto;
  }
}
@media (max-width: 768px) {
  p.pt {
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
  .card1 {
    margin: auto;
  }
}
@media (max-width: 768px) {
  .card-img-top {
    margin: auto;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  form {
    width: 100%;
    margin: auto;
  }
}
header {
  font-family: "Urbanist";
  font-weight: bold;
  background-color: rgb(77, 116, 77);
  position: sticky;
  top: 0px;
}

.logo {
  cursor: pointer;
  width: 14%;
}

li {
  list-style: none;
  font-size: 1rem;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(247, 158, 69, 0.968627451);
}

.nav-link.active {
  color: rgba(246, 163, 80, 0.968627451);
}

footer {
  height: 10%;
  width: 100%;
  font-family: "urbanist";
  padding: 16px 10%;
}

.fondo {
  background-color: rgb(77, 116, 77);
}

.fuente {
  font-size: 1rem;
}

.logoig {
  width: 30px;
  cursor: pointer;
}

.logoface {
  width: 30px;
  cursor: pointer;
}

form {
  width: 50%;
  background-color: rgb(77, 116, 77);
  margin-top: 5%;
  margin-bottom: 20%;
  margin-left: 25%;
  padding: 4% 4%;
  border-radius: 10px;
  font-family: "Urbanist";
  font-size: 1rem;
  color: whitesmoke;
}

* {
  margin: 0%;
  padding: 0%;
}

body {
  background-color: rgb(244, 248, 246);
}

@font-face {
  font-family: "Urbanist";
  src: url(/assets/Urbanist/static/Urbanist-Medium.ttf);
  font-weight: medium;
  font-style: medium;
}
.fotohome {
  width: 100%;
}

.tarjeton {
  background-color: rgb(77, 116, 77);
  margin-top: -7%;
  width: 90%;
  margin-left: 3%;
}

h1 {
  padding-top: 3%;
  text-align: center;
  font-size: 4rem;
  font-family: "Urbanist";
}
h1.card-title {
  color: whitesmoke;
  padding: 14% 3% 6% 3%;
  margin-top: -25px;
}

h2 {
  text-align: center;
  margin-top: -2rem;
  font-size: 2.5rem;
  font-family: "Urbanist";
}
h2.card-subtitle {
  color: whitesmoke;
  padding-bottom: 6%;
}

h3.titulo {
  margin-left: 6%;
  margin-top: 15%;
}

p {
  text-align: left;
  font-family: "Urbanist";
  font-style: normal;
  font-size: 1rem;
  padding: 5%;
  line-height: 1.8rem;
  margin-bottom: 6rem;
}

.toque {
  font-style: italic;
}

.kokeorigen {
  width: 100%;
  height: 538px;
  padding: 3%;
  object-fit: contain;
}

/*# sourceMappingURL=estilo.css.map */
