form {
    width: 50%;
    background-color: rgb(77, 116, 77);
    margin-top: 5%;
    margin-bottom: 20%;
    margin-left: 25%;
    padding: 4% 4%;
    border-radius: 10px;
    font-family: "Urbanist";
    font-size: 1rem;
    color: whitesmoke;
}