form {
    width: 50%;
    background-color:$color-principal;
    margin-top: 5%;
    margin-bottom: 20%;
    margin-left: 25%;
    padding: 4% 4%;
    border-radius: 10px;
    font-family: "Urbanist";
    font-size: 1rem;
    color:$color-texto;
}

h4 {
	display: flex;
	justify-content: center;
}
h5 {
	display: flex;
	justify-content: center;
	padding: 3%;
}

button{
	margin: 1%;
}

.btn {
	background-color:$color-secundario;
	box-shadow: $boton-sombra;
}

