footer {
    height: 10%;
    width: 100%;
    font-family: "urbanist";
    padding: 16px 10%;
}

.fondo {
    background-color: $color-principal;
}

.fuente {
    font-size: 1rem;
}

.logoig {
    width: 30px;
    cursor: pointer
}

.logoface {
    width: 30px;
    cursor: pointer
}