

.agradecimiento{
    width:70%;
    background-color:$color-principal;
    margin-top: 10%;
    margin-bottom: 20%;
    margin-left: 15%;
    padding: 4% 4%;
    border-radius: 10px;
    font-family: "Urbanist";
    font-size: 1rem;
    color:$color-texto;
}

.volver{
    text-decoration: none;
    color:$color-secundario;
    font-weight: bolder;
}