header {
	font-family: "Urbanist";
	font-weight: bold;
	background-color: rgb(77, 116, 77);
	position: sticky;
	top: 0px;
}
.logo {
	cursor: pointer;
	width: 14%;
}
li {
	list-style: none;
	font-size: 1rem;
}

.navbar-light {
	.navbar-nav {
		.nav-link {
			color: #f79e45f7;
		}
	}
}
.nav-link {
	&.active {
		color: #f6a350f7;
	}
}
