header {
	font-family: "Urbanist";
	font-weight: bold;
	background-color: $color-principal;
	position: sticky;
	top: 0px;
	z-index: 10;
}

.logo {
	cursor: pointer;
	width: 14%;
}

li {
	list-style: none;
	font-size: 1rem;
}

.navbar-light {
	.navbar-nav {
		.nav-link {
			color: $color-secundario;
		}
	}
}

.nav-link {
	&.active {
		color: $color-secundario;
	}
}