h1 {
	&.aprende {
		font-size: 3rem;
	}
}

.t-taller {
	padding: 6%;
	font-size: 2rem;
}

h2 {
	.t-taller {
		display: none;
		align-items: center;
	}
}

.taller {
	height: 187px;
	margin-right: 4%;
	margin-left: 2%;
}

.tutoque {
	color: $color-secundario;
	padding-right: 1%;
}

.tarjeton2 {
	background-color: #588f4d;
	border-radius: 4px;
	width: 90%;
	margin: auto;
}

p {
	&.pt {
		color: $color-texto;
		text-align: left;
		font-family: "Urbanist";
		font-style: normal;
		font-size: 1.2rem;
		padding: 5%;
		line-height: 1.8rem;
	}
}

.informacion {
	display: flex;
	justify-content: center;
	padding: 4%;
}

.card1 {
	padding: 4%;
}

.card-img-top {
	height: 180px;
	width: 286px;
}

.botonTaller {
	padding: 5%;
}

.btn {
	background-color: $color-secundario;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 4%;
}