
$color-body: #f4f8f6;

$color-principal:#4d744d; 

$color-secundario:#f79e45f7;

$color-texto:#f5f5f5;

$color-span:#dc143c;

$color-tarjeton:#588f4d;

$boton-sombra: 1px 3px 1px 1px rgb(248, 232, 215, 0.4);




